h1{
    font-size: 1.5rem;
}
html, body {
 height: 100%;
 background: lightblue
}
body{
 display: grid;
 place-items: center;
 /* Display grid propriedade nova muito interessante. */
}
a{ 
 color: lightgray;
 text-decoration: none;
}