*{
    margin: 0;
}
h1{
    font-size: 1.5rem;
    font-weight: 700;
}
html, body {
 height: 100%;
 background: lightblue;
}
body{
    --gray: #E5E5E5;
    --back: #202024;
    /* como declarar uma variavel em uma cor. */
    /* color: var(--gray); */
    display: grid;
    color: #E5E5E5;
    place-items: center;
    /* Display grid propriedade nova muito interessante. */
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased; 
    /* webkit é usado em alguns navegadores como chrome e safare, esses nagevadores vão usar a font indicada. */
   }
main{ 
    background: url(./images/background.svg);
    width: 375px;
    height: 812px;
}
.container{
    max-width: 250px;
    margin: auto;
    text-align: center;
}

.avatar { 
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
    
}
.avatar span{
    position: absolute;
    top: -15px;
    z-index: 1;
}
.avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    /* propriedade css que ajuda a tirar a distorção de imagens que tem tamanho modificado. */
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%)
}
a{ 
 color: lightgray;
 text-decoration: none;
}
li{
    display: inline;
}
p{
    font-weight: 400;
}