h1{
    font-size: 1.5rem;
}
html, body {
 height: 100%;
 background: lightblue
}

main{ 
    background: url(./images/background.svg);
    width: 375px;
    height: 812px;
}
body{
 display: grid;
 place-items: center;
 /* Display grid propriedade nova muito interessante. */
}
a{ 
 color: lightgray;
 text-decoration: none;
}